.footer__list-el {
  margin-right: 18px;
}
.footer__list-el:last-child {
  margin-right: 0;
}
@media (max-width: 425px) {
  .footer__list-el {
    margin-bottom: 32px;
  }
  .footer__list-el:last-child {
    margin-bottom: 0;
  }
}
