.link {
  /* color: #2f80ed; */
  transition: all 0.2s ease-in;
}

/* .link:first-child {
  border-bottom: solid 2.2px white;
  text-decoration: underline;
} */

.link:hover {
  opacity: 0.8;
  border: none;
  /* cursor: url("../../vendor/Cursor.cur"), auto; */
}
