.cover__overlay {
  width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
  transition: 0.3s ease-in-out;
}
.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
@media (max-width: 1279px) {
  .cover__overlay {
    width: 100%;
    min-height: 640px;
  }
}
@media (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}
@media (max-width: 767px) {
  .cover__overlay {
    min-height: 320px;
  }
}
@media (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
